html {
  height: 100%;
}

body {
  height: 100%;
  color: #000;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  background-color: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  display: block;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}

.scrollbar-no::-webkit-scrollbar {
  background-color: transparent;
  width: 0;
  height: 0;
}
.scrollbar-no::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.scrollbar-no::-webkit-scrollbar-track {
  background-color: transparent;
}

.header {
  position: fixed;
  z-index: 7000;
  top: 0;
  left: 0;
  height: 37px;
  background-color: rgba(255, 255, 255, 0.75);
  background-position-y: -54px;
  background-repeat: no-repeat;
  backdrop-filter: blur(25px);
}

.main {
  min-height: calc(100% - 37px);
  padding: 58px 0 54px;
  background-position-y: -54px;
  background-repeat: no-repeat;
}
.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 37px;
  width: 100%;
  background-color: #fff;
}

.footer {
  position: fixed;
  z-index: 8000;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 54px;
  padding: 7px 0;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
}

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .navigation {
  display: flex;
  gap: 12px;
}
.header .navigation__item, .header .navigation__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
}
.header .navigation__link {
  width: 25px;
}
.header .navigation__link--coin {
  display: flex;
  align-items: center;
  justify-content: start;
  min-width: 62px;
  gap: 4px;
  width: auto;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  gap: 17px;
  font-size: 10px;
  margin: 0 auto;
  padding: 0 15px;
}
.footer__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 48px;
  color: #484d5c;
}
.footer__link svg {
  fill: #484d5c;
}
.footer__link:active, .footer__link:hover, .footer__link:focus, .footer__link--active {
  color: #0050ff;
}
.footer__link:active svg, .footer__link:hover svg, .footer__link:focus svg, .footer__link--active svg {
  fill: #0050ff;
}

.header {
  background-color: transparent;
}
.header__back {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7.5px;
  padding-right: 0;
}

.main {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 38px;
}
.main .stats {
  position: absolute;
  top: 0;
  right: 50%;
  z-index: 999999;
  font-size: 17px;
  line-height: 1;
  transform: translateX(50%);
  padding: 10px 0;
}
.main .stats__bar {
  position: absolute;
  bottom: -4px;
  left: calc(50% - 50vw);
  height: 4px;
  width: 100vw;
  background: rgba(0, 0, 0, 0.25);
}
.main .stats__bar-progress {
  height: 100%;
  border-radius: 2px;
  width: 0;
  min-width: 4px !important;
  background-color: #0050ff;
}
.main .card {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 1500ms;
  transition: all 1500ms;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  padding: 27px 20px 30px;
  backface-visibility: hidden;
}
.main .card--revers {
  box-shadow: 2px 10px 20px 0px rgba(0, 0, 0, 0.15);
  background: #fff;
  color: #000;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  transform: rotateY(180deg);
}
.main .card--avers {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(136deg, #e600ff 7.37%, #053ffa 103.85%);
  box-shadow: 0px 14px 24px 0px rgba(80, 65, 247, 0.3);
  font-size: 38px;
  line-height: 42px;
  color: #fff;
  font-weight: 700;
}
.main .card-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}
.main .card-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 36px;
  position: relative;
}
.main .card-container #side-switcher {
  display: none;
}
.main .card__header {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 5px;
  padding: 0 5px;
}
.main .card__body {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-bottom: 33px;
  padding: 0 5px;
}
.main .card__footer {
  height: 32px;
  display: flex;
  gap: 14px;
}
.main .card__footer .button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 100px;
  border: 1px solid #bbc0d0;
  width: 100%;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 3px 4px;
}
.main .sticks {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.main .sticks__lost {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #b9bdc7;
  border-radius: 0px 100px 100px 0px;
  padding: 6px 20px 6px 37px;
}
.main .sticks__achived {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 100px 0px 0px 100px;
  background: #1bc300;
  padding: 6px 37px 6px 20px;
}

.header,
.main {
  background-image: url("/images/bg_flashcard.webp");
  background-size: 100% 297px;
}

#side-switcher:checked + .card-wrapper > .card--avers {
  transform: rotateY(180deg);
}

#side-switcher:checked + .card-wrapper > .card--revers {
  transform: rotateY(0);
}/*# sourceMappingURL=flashcard.css.map */