html {
  height: 100%;
}

body {
  height: 100%;
  color: #000;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  background-color: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  display: block;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}

.scrollbar-no::-webkit-scrollbar {
  background-color: transparent;
  width: 0;
  height: 0;
}
.scrollbar-no::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.scrollbar-no::-webkit-scrollbar-track {
  background-color: transparent;
}

.header {
  position: fixed;
  z-index: 8000;
  top: 0;
  left: 0;
  height: 37px;
  background-color: rgba(255, 255, 255, 0.75);
  background-position-y: -54px;
  background-repeat: no-repeat;
  backdrop-filter: blur(25px);
}

.main {
  min-height: calc(100% - 37px);
  padding: 58px 0 54px;
  background-position-y: -54px;
  background-repeat: no-repeat;
}
.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 37px;
  width: 100%;
  background-color: #fff;
}

.footer {
  position: fixed;
  z-index: 8000;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 54px;
  padding: 7px 0;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
}

.education, .hot, .agree, .reels, .guide, .coins {
  margin-bottom: 22px;
}
.education:last-child, .hot:last-child, .agree:last-child, .reels:last-child, .guide:last-child, .coins:last-child {
  margin-bottom: 0;
}
.education__title, .hot__title, .agree__title, .reels__title, .guide__title, .coins__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
}
.hot__link, .agree__link, .reels__link, .guide__link, .coins__link {
  color: #0050ff;
  font-size: 14px;
}
.education__content, .hot__list, .agree__content, .reels__list, .guide__content, .coins__content {
  padding-top: 12px;
  padding-bottom: 24px;
}

.hot .card, .agree .card, .guide .card {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.1);
}
.agree .card__content, .guide .card__content {
  font-size: 13px;
  font-weight: 600;
}
.agree .card__title, .guide .card__title {
  font-size: 22px;
}
.agree .card__buttons, .guide .card__buttons {
  position: absolute;
  top: 21px;
  right: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  justify-content: space-around;
}
.agree .card__btn, .guide .card__btn {
  display: flex;
  height: 24px;
}

.header {
  background-color: transparent;
}

.header,
.main {
  background-image: url("/images/bg_home.webp");
  background-size: 100% 239px;
}

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .navigation {
  display: flex;
  gap: 12px;
}
.header .navigation__item, .header .navigation__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
}
.header .navigation__link {
  width: 25px;
}
.header .navigation__link--coin {
  display: flex;
  align-items: center;
  justify-content: start;
  min-width: 62px;
  gap: 4px;
  width: auto;
}

.user {
  display: inline-flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 34px;
}
.user__photo {
  border-radius: 50%;
  overflow: hidden;
}
.user__name {
  font-size: 17px;
  margin: 0;
}
.user__position {
  font-size: 10px;
  opacity: 0.6;
  font-weight: 500;
}

.coins {
  margin-bottom: 10px;
}
.coins__balance {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 11px;
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 9px;
}
.coins__value {
  font-size: 50px;
}
.coins__description {
  font-size: 13px;
  font-weight: 600;
  color: #484d5c;
}

.guide .card {
  background-repeat: no-repeat;
  background-size: 100% 243px;
  background-repeat: no-repeat;
  background-position-y: -73px;
  background-image: url("/images/card_guide.png");
  background-color: rgba(255, 255, 255, 0.7);
}
.guide .card__content-wrapper {
  display: flex;
  gap: 8px;
}
.guide .card__img {
  min-height: 200px;
  display: flex;
  align-items: flex-end;
}
.guide .card__content {
  padding: 18px 22px 20px 0;
  color: #484d5c;
}
.guide .card__title {
  margin-bottom: 9px;
  padding-right: 18px;
  min-height: 2em;
  color: #000;
}
.guide .card__buttons {
  fill: #484d5c;
}
.guide .card__btn {
  justify-content: center;
  width: 20px;
}

.reels__list {
  display: flex;
  gap: 10px;
  justify-content: start;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  font-size: 13px;
  color: #fff;
  padding-bottom: 24px;
}
@media (min-width: 830px) {
  .reels__list {
    justify-content: center;
  }
}
.reels__card {
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.1), 0px 0px 24px 0px rgba(0, 0, 0, 0.05) inset;
  color: #fff;
}
.reels__card:hover {
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.3), 0px 0px 24px 0px rgba(0, 0, 0, 0.1) inset;
}
.reels__button button {
  color: inherit;
  fill: currentColor;
  font-weight: 700;
}
.reels__button--bookmark {
  position: absolute;
  top: 12px;
  right: 11px;
}
.reels__button--up {
  position: absolute;
  bottom: 10px;
  left: 9px;
}
.reels__button--up button {
  display: flex;
  align-items: center;
  gap: 4px;
}
.reels__button--arrow {
  position: absolute;
  bottom: 10px;
  right: 11px;
}

.agree__reaction {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 70px;
  margin-top: 20px;
  padding: 12px 47px 10px;
  border-radius: 100px;
  background: #f8f3f3;
}
.agree .card {
  padding: 24px 18px 24px 14px;
  background-color: #fff;
}
.agree .card__content {
  line-height: 28px;
  letter-spacing: -0.4px;
  margin-right: 30px;
}
.agree .card__buttons {
  top: 17px;
  right: 20px;
  gap: 14px;
}
.agree .card__btn {
  justify-content: end;
  width: 25px;
}

.hot__title span {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.hot__list {
  display: flex;
  gap: 10px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  font-size: 13px;
  color: #fff;
}
.hot .card {
  color: #000;
  font-size: 10px;
  font-weight: 700;
  line-height: 10px;
  flex-shrink: 0;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.1), 0px 0px 24px 0px rgba(0, 0, 0, 0.05) inset;
}
.hot .card:hover {
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.3), 0px 0px 24px 0px rgba(0, 0, 0, 0.1) inset;
}
.hot .card__content {
  position: absolute;
  top: 13px;
  left: 24px;
  display: flex;
  gap: 8px;
  align-items: center;
}
.hot .card__content .description {
  max-width: 96px;
}
.hot .card__content .level {
  border-radius: 4px;
  text-transform: uppercase;
  padding: 0 4px;
  vertical-align: middle;
  line-height: 13px;
  color: #fff;
}
.hot .card__content .level--master {
  background: black;
}
.hot .card__content .level--expert {
  background: #484d5c;
}
.hot .card__content .level--professional {
  background: #ff004e;
}
.hot .card__content .level--advanced {
  background: #848998;
}

.education__logo {
  height: 33px;
  margin-bottom: 6px;
}
.education__content {
  padding-top: 0;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.4px;
}
.education__list {
  display: flex;
  justify-content: start;
  gap: 10px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  font-size: 10px;
  font-weight: 600;
  color: #484d5c;
}
@media (min-width: 640px) {
  .education__list {
    justify-content: center;
  }
}
.education__card {
  flex-shrink: 0;
  width: 157px;
}
.education__card .card__info {
  padding: 18px 9px 13px 23px;
}
.education__card .card__button {
  display: inline-block;
  height: 13px;
  min-width: 36px;
  padding: 0 4px;
  margin-bottom: 6px;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  line-height: normal;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  gap: 17px;
  font-size: 10px;
  margin: 0 auto;
  padding: 0 15px;
}
.footer__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 48px;
  color: #484d5c;
}
.footer__link svg {
  fill: #484d5c;
}
.footer__link:active, .footer__link:hover, .footer__link:focus, .footer__link--active {
  color: #0050ff;
}
.footer__link:active svg, .footer__link:hover svg, .footer__link:focus svg, .footer__link--active svg {
  fill: #0050ff;
}/*# sourceMappingURL=home.css.map */