html {
  height: 100%;
}

body {
  height: 100%;
  color: #000;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  background-color: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  display: block;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}

.scrollbar-no::-webkit-scrollbar {
  background-color: transparent;
  width: 0;
  height: 0;
}
.scrollbar-no::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.scrollbar-no::-webkit-scrollbar-track {
  background-color: transparent;
}

.header {
  position: fixed;
  z-index: 8000;
  top: 0;
  left: 0;
  height: 37px;
  background-color: rgba(255, 255, 255, 0.75);
  background-position-y: -54px;
  background-blend-mode: hard-light;
  backdrop-filter: blur(25px);
}

.main {
  min-height: calc(100% - 37px - 54px);
  margin-top: 37px;
  padding: 21px 0 54px;
  background-position-y: -91px;
}

.footer {
  position: fixed;
  z-index: 8000;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 54px;
  padding: 7px 0;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
}

.flashcards, .term {
  margin-bottom: 22px;
}
.flashcards:last-child, .term:last-child {
  margin-bottom: 0;
}
.flashcards__title, .term__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
}
.flashcards__link, .term__link {
  color: #0050ff;
  font-size: 14px;
}
.flashcards__list, .term__content {
  padding-top: 12px;
  padding-bottom: 24px;
}

.flashcards .card, .term .card {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.1);
}
.flashcards .card__content, .term .card__content {
  font-size: 13px;
  font-weight: 600;
}
.term .card__title {
  font-size: 22px;
}
.flashcards .card__markers, .term .card__buttons {
  position: absolute;
  top: 21px;
  right: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  justify-content: space-around;
}
.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .navigation {
  display: flex;
  gap: 12px;
}
.header .navigation__item, .header .navigation__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
}
.header .navigation__link {
  width: 25px;
}
.header .navigation__link--coin {
  display: flex;
  align-items: center;
  justify-content: start;
  min-width: 62px;
  gap: 4px;
  width: auto;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  gap: 17px;
  font-size: 10px;
  margin: 0 auto;
  padding: 0 15px;
}
.footer__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 48px;
  color: #484d5c;
}
.footer__link svg {
  fill: #484d5c;
}
.footer__link:active, .footer__link:hover, .footer__link:focus, .footer__link--active {
  color: #0050ff;
}
.footer__link:active svg, .footer__link:hover svg, .footer__link:focus svg, .footer__link--active svg {
  fill: #0050ff;
}

.header {
  background-color: transparent;
}

.header,
.main {
  background-image: url("/images/bg_learn.webp");
  background-repeat: no-repeat;
  background-size: 100% 297px;
}

.term {
  margin-bottom: 19px;
}
.term .card {
  background-color: #fff;
}
.term .card__content {
  padding: 18px 45px 24px 22px;
  color: #484d5c;
  font-size: 13px;
}
.term .card__title {
  color: #000;
  line-height: 28px;
  margin-bottom: 5px;
}
.term .card__buttons {
  fill: #484d5c;
  top: 18px;
  right: 16px;
}

.flashcards__list {
  display: flex;
  gap: 10px;
  overflow-x: auto;
}
.flashcards__item {
  flex-shrink: 0;
}
.flashcards .card {
  height: 170px;
  width: 322px;
  padding: 18px 18px 21px;
  color: #fff;
  background: linear-gradient(136deg, #e600ff 7.37%, #053ffa 103.85%);
}
.flashcards .card__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.flashcards .card__title {
  font-size: 12px;
}
.flashcards .card__text {
  font-size: 26px;
}
.flashcards .card__progress {
  font-weight: 600;
}
.flashcards .card__bar {
  margin-top: 5px;
  height: 4px;
  background-color: rgba(235, 235, 245, 0.16);
  border-radius: 2px;
}
.flashcards .card__bar-inner {
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  width: 0;
  min-width: 4px !important;
}
.flashcards .card__markers {
  top: 18px;
  fill: #fff;
}/*# sourceMappingURL=learn.css.map */