html {
  height: 100%;
}

body {
  height: 100%;
  color: #000;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  background-color: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  display: block;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}

.scrollbar-no::-webkit-scrollbar {
  background-color: transparent;
  width: 0;
  height: 0;
}
.scrollbar-no::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.scrollbar-no::-webkit-scrollbar-track {
  background-color: transparent;
}

.header {
  position: fixed;
  z-index: 8000;
  top: 0;
  left: 0;
  height: 37px;
  background-color: rgba(255, 255, 255, 0.75);
  background-position-y: -54px;
  background-repeat: no-repeat;
  backdrop-filter: blur(25px);
}

.main {
  min-height: calc(100% - 37px);
  padding: 58px 0 54px;
  background-position-y: -54px;
  background-repeat: no-repeat;
}
.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 37px;
  width: 100%;
  background-color: #fff;
}

.footer {
  position: fixed;
  z-index: 8000;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 54px;
  padding: 7px 0;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
}

.books, .articles, .daily {
  margin-bottom: 22px;
}
.books:last-child, .articles:last-child, .daily:last-child {
  margin-bottom: 0;
}
.books__title, .articles__title, .daily__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
}
.books__link, .articles__link, .daily__link {
  color: #0050ff;
  font-size: 14px;
}
.books__list, .articles__content, .daily__content {
  padding-top: 12px;
  padding-bottom: 24px;
}

.daily .card {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.1);
}
.daily .card__content {
  font-size: 13px;
  font-weight: 600;
}
.daily .card__title {
  font-size: 22px;
}
.daily .card__buttons {
  position: absolute;
  top: 21px;
  right: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  justify-content: space-around;
}
.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .navigation {
  display: flex;
  gap: 12px;
}
.header .navigation__item, .header .navigation__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
}
.header .navigation__link {
  width: 25px;
}
.header .navigation__link--coin {
  display: flex;
  align-items: center;
  justify-content: start;
  min-width: 62px;
  gap: 4px;
  width: auto;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  gap: 17px;
  font-size: 10px;
  margin: 0 auto;
  padding: 0 15px;
}
.footer__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 48px;
  color: #484d5c;
}
.footer__link svg {
  fill: #484d5c;
}
.footer__link:active, .footer__link:hover, .footer__link:focus, .footer__link--active {
  color: #0050ff;
}
.footer__link:active svg, .footer__link:hover svg, .footer__link:focus svg, .footer__link--active svg {
  fill: #0050ff;
}

.header {
  background-color: transparent;
}

.header,
.main {
  background-image: url("/images/bg_read.webp");
  background-size: 100% 297px;
}

.daily {
  margin-bottom: 27px;
}
.daily .card {
  background: linear-gradient(136deg, #e600ff 7.37%, #053ffa 103.85%);
  box-shadow: 0px 14px 24px 0px rgba(80, 65, 247, 0.3);
}
.daily .card__content {
  padding: 13px 45px 26px 24px;
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 20px;
  line-height: 24px;
}
.daily .card__title {
  font-size: 44px;
  line-height: 0;
  letter-spacing: -0.4px;
  margin-bottom: 29px;
}
.daily .card__buttons {
  fill: #fff;
}

.articles {
  margin-bottom: 10px;
}
.articles__content {
  padding-bottom: 10px;
}
.articles .filter {
  display: flex;
  gap: 8px;
  justify-content: start;
  overflow-y: auto;
  font-size: 12px;
  color: #0050ff;
}
@media (min-width: 640px) {
  .articles .filter {
    justify-content: center;
  }
}
.articles .filter .button__content {
  display: inline-flex;
  gap: 4px;
  align-items: center;
  white-space: nowrap;
  line-height: 30px;
  border-radius: 100px;
  border: 1.5px solid #0050ff;
  padding: 0 10px;
}
.articles .filter .button__checkbox:checked + .button__content {
  color: #fff;
  background-color: #0050ff;
}
.articles .filter .button__checkbox {
  display: none;
}

.slider {
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  height: 305px;
  flex-wrap: wrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  width: 100%;
  max-width: 600px;
}
.slider__item {
  width: 100%;
  border-bottom: 1px solid #d7d7d7;
  cursor: grab;
  user-select: none;
}
.slider__item:active {
  cursor: grabbing;
}
.slider__item:nth-of-type(3n) {
  border-bottom: none;
  scroll-snap-align: center;
}

.slide {
  display: flex;
  gap: 10px;
  padding: 10px 0;
}
.slide__card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  flex-basis: 141px;
}
.slide__card svg {
  position: absolute;
  top: 9px;
  right: 8px;
  fill: #fff;
}
.slide__text {
  padding-top: 6px;
  flex-basis: 197px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px;
}
.pagination__item {
  height: 8px;
  width: 8px;
}
.pagination__item:nth-last-of-type(2) {
  height: 6px;
  width: 6px;
}
.pagination__item:last-of-type {
  height: 4px;
  width: 4px;
}

.stick {
  display: flex;
  align-items: center;
  fill: rgba(0, 0, 0, 0.3019607843);
}
.stick__checkbox {
  display: block;
  height: 0;
  width: 0;
  visibility: hidden;
}
.stick__checkbox:checked + .stick__svg {
  fill: #000000;
}
.stick__svg {
  width: 100%;
  height: 100%;
}

.books__list {
  display: flex;
  justify-content: start;
  overflow-x: auto;
}
@media (min-width: 540px) {
  .books__list {
    justify-content: center;
  }
}
.books__item {
  position: relative;
  fill: #fff;
}
.books__item svg {
  position: absolute;
  top: 11px;
  right: 21px;
}/*# sourceMappingURL=read.css.map */