html {
  height: 100%;
}

body {
  height: 100%;
  color: #000;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  background-color: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  display: block;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}

.scrollbar-no::-webkit-scrollbar {
  background-color: transparent;
  width: 0;
  height: 0;
}
.scrollbar-no::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.scrollbar-no::-webkit-scrollbar-track {
  background-color: transparent;
}

.header {
  position: fixed;
  z-index: 7000;
  top: 0;
  left: 0;
  height: 37px;
  background-color: rgba(255, 255, 255, 0.75);
  background-position-y: -54px;
  background-repeat: no-repeat;
  backdrop-filter: blur(25px);
}

.main {
  min-height: calc(100% - 37px);
  padding: 58px 0 54px;
  background-position-y: -54px;
  background-repeat: no-repeat;
}
.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 37px;
  width: 100%;
  background-color: #fff;
}

.footer {
  position: fixed;
  z-index: 8000;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 54px;
  padding: 7px 0;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
}

.popup__content .content__header .card__buttons {
  position: absolute;
  top: 21px;
  right: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  justify-content: space-around;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  gap: 17px;
  font-size: 10px;
  margin: 0 auto;
  padding: 0 15px;
}
.footer__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 48px;
  color: #484d5c;
}
.footer__link svg {
  fill: #484d5c;
}
.footer__link:active, .footer__link:hover, .footer__link:focus, .footer__link--active {
  color: #0050ff;
}
.footer__link:active svg, .footer__link:hover svg, .footer__link:focus svg, .footer__link--active svg {
  fill: #0050ff;
}

.popup {
  position: absolute;
  top: 18.5px;
  left: 0;
  border: none;
  z-index: 7500;
  border-radius: 10px 10px 0px 0px;
  background: linear-gradient(0deg, #5c5c5c 0%, #5c5c5c 100%), rgba(153, 153, 153, 0.97);
  background-blend-mode: color-dodge, normal;
  box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(25px);
  padding-bottom: 54px;
}
.popup__header {
  position: fixed;
  z-index: 7501;
  width: 100%;
  left: 0;
  top: 0;
  height: 56px;
  border-radius: 10px 10px 0px 0px;
  background: #ebecec;
}
.popup__header .resizer {
  margin: 5px auto;
  width: 36px;
  height: 5px;
  border-radius: 2.5px;
  background: linear-gradient(0deg, rgba(61, 61, 61, 0.5) 0%, rgba(61, 61, 61, 0.5) 100%), rgba(127, 127, 127, 0.4);
  background-blend-mode: overlay, luminosity;
}
.popup__header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popup__header .content .title {
  font-size: 22px;
  font-weight: 700;
  line-height: 28px; /* 127.273% */
  letter-spacing: -0.4px;
}
.popup__header .content .close {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #cacbcb;
  background-blend-mode: overlay, luminosity;
  fill: #757676;
}
.popup__content {
  padding-top: 62px;
  height: calc(100vh - 18.5px - 54px);
  overflow-y: auto;
}
.popup__content .content__header {
  text-align: center;
  margin-bottom: 10px;
}
.popup__content .content__header .card {
  display: inline-block;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}
.popup__content .content__header .card__buttons {
  top: 18px;
  right: 16px;
}
.popup__content .content__main {
  padding: 0 16px;
  margin-bottom: 10px;
}
.popup__content .content__main .progress__title {
  color: #484d5c;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;
}
.popup__content .content__main .progress__bar {
  height: 4px;
  border-radius: 100px;
  background: rgba(120, 120, 128, 0.2);
  margin-bottom: 10px;
}
.popup__content .content__main .progress__bar-inner {
  min-width: 4px;
  height: 100%;
  border-radius: 100px;
  background: #0050ff;
}
.popup__content .content__main .title {
  color: #000;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.4px;
}
.popup__content .content__footer {
  padding: 0 16px;
}
.popup__content .content__footer .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;
}
.popup__content .content__footer .details .designers {
  display: flex;
  align-items: center;
  gap: 7px;
}
.popup__content .content__footer .details .designers .avatars {
  display: flex;
}
.popup__content .content__footer .details .designers .avatars__item {
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 50%;
  overflow: hidden;
}
.popup__content .content__footer .details .designers .avatars__item:not(:first-of-type) {
  margin-left: -15px;
}
.popup__content .content__footer .details .designers .avatars__item img {
  width: 100%;
  height: 100%;
}
.popup__content .content__footer .details .designers__stats {
  width: 93px;
  color: #484d5c;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 13px;
}
.popup__content .content__footer .details .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #0050ff;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
}
.popup__content .content__footer .text {
  color: #484d5c;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px; /* 138.462% */
  letter-spacing: -0.4px;
  margin-bottom: 20px;
}
.popup__content .content__footer .list {
  color: #484d5c;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.4px;
}
.popup__content .content__footer .list .item {
  margin-bottom: 1em;
}
.popup__content .content__footer .list .item__title {
  color: #000;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px; /* 133.333% */
}
.popup__content .content__footer .list .item .sub-list {
  counter-reset: list-counter;
}
.popup__content .content__footer .list .item .sub-list__item {
  counter-increment: list-counter;
  display: flex;
}
.popup__content .content__footer .list .item .sub-list__item::before {
  content: counter(list-counter) ". ";
  padding: 0 7px;
}
.popup__content .content__footer .list .item .sub-list--circle li {
  display: flex;
}
.popup__content .content__footer .list .item .sub-list--circle li::before {
  content: "";
  margin: 7px 10px 0;
  border-radius: 50%;
  background-color: currentColor;
  width: 4px;
  height: 4px;
  display: inline-block;
}
.popup__content .content__footer .btn {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #0050ff;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
}/*# sourceMappingURL=weekly-challenges.css.map */