html {
  color: $text-color-primary;

  font-family: $font-family-primary;
  font-weight: $font-weight-bold;
  font-size: $font-size-m;
  line-height: $line-height-m;

  background-color: $background-primary;
}

html,
body {
  height: 100%;
}

.bar {
  height: $mobile-bar-height;
  background-image: url('/images/bg_home.webp');
  background-repeat: no-repeat;
  background-size: 100% 239px;
  background-blend-mode: hard-light;
  backdrop-filter: blur(25px);
}

.header {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  height: $page-header-height;

  background-image: url('/images/bg_home.webp');
  background-repeat: no-repeat;
  background-size: 100% 239px;
  background-position-y: -$mobile-bar-height;
  background-blend-mode: hard-light;
  backdrop-filter: blur(25px);
}

.wrapper {
  // max-height: calc(100% - $page-footer-height);
  max-height: 100%;
  overflow: auto;
}

.main {
  min-height: calc(100% - $page-header-height - $page-footer-height);
  background-image: url('/images/bg_home.webp');
  background-repeat: no-repeat;
  background-size: 100% 239px;
  margin-top: $page-header-height;
  padding: 12px 0 $page-footer-height;
  background-position-y: -$mobile-bar-height - $page-header-height;
}

.footer {
  position: fixed;
  z-index: 999999;
  bottom: 0;
  left: 0;

  width: 100%;
  height: $page-footer-height;
  background-color: $background-secondary;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  padding-top: 7px;
}
