.section {
  &:first-child {
    margin-top: 9px;
  }

  &:not(:last-child) {
    margin-bottom: 22px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 13px;
  }

  &__title {
    font-size: $font-size-xl;
  }

  &__link {
    font-size: $font-size-xs;
    color: $text-color-accent;
  }
}

.card {
  position: relative;
  max-width: $max-width-card-element;
  margin: 0 auto;

  border-radius: 30px;
  box-shadow: $shadow-1;

  &__title {
    font-size: $font-size-xl;
  }

  &__btn {
    display: flex;
    height: 24px;
  }

  &__buttons {
    position: absolute;
    top: 21px;
    right: 18px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    justify-content: space-around;
  }
}

.user {
  display: inline-flex;
  align-items: center;
  gap: 7px;

  &__photo {
    border-radius: 50%;
    overflow: hidden;
  }

  &__name {
    font-size: $font-size-l;
    margin: 0;
  }

  &__position {
    font-size: $font-size-xxxs;
    opacity: $opacity-m;
    font-weight: $font-weight-medium;
  }
}

.coins {
  padding-bottom: 12px;

  &__more {
    font-size: $font-size-xs;
    color: $text-color-accent;
  }

  &__balance {
    display: flex;
    align-items: center;
    gap: 8px;

    padding-bottom: 11px;
    border-bottom: 1px solid $border-color-primary;
    margin-bottom: 9px;
  }

  &__value {
    font-size: $font-size-xxl;
  }

  &__description {
    font-size: $font-size-xxs;
    font-weight: $font-weight-semi;
    color: $text-color-secondary;
  }
}

.guide {
  &__card {
    display: flex;
    gap: 8px;
    min-height: 200px;
    overflow: hidden;

    background-repeat: no-repeat;
    background-size: 105% 100%;
    background-position: center;
    background-image: url('/images/card_guide.png');
    background-color: $background-secondary;
  }

  &__img {
    align-self: flex-end;
  }

  &__descr {
    padding: 18px 22px 20px 0;
  }

  &__header {
    padding-right: 18px;
    margin-bottom: 9px;
    min-height: 2em;
  }

  &__text {
    font-size: $font-size-xxs;
    font-weight: $font-weight-semi;
    color: $text-color-secondary;
  }

  &__btn {
    justify-content: center;
    width: 20px;
  }

  &__buttons {
    fill: $text-color-secondary;
  }
}

.reels {
  &__list {
    display: flex;
    gap: 10px;
    justify-content: start;
    overflow-y: auto;

    -webkit-overflow-scrolling: touch;
    font-size: $font-size-xxs;
    color: $text-color-ternary;

    padding-bottom: 24px;

    @media (min-width: 830px) {
      justify-content: center;
    }
  }

  &__card {
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;

    position: relative;
    box-shadow: $shadow-2;

    &:hover {
      box-shadow: $shadow-2-hover;
    }

    svg {
      fill: $text-color-ternary;
    }
  }

  &__button {
    &--bookmark {
      position: absolute;
      top: 12px;
      right: 11px;
    }

    &--up {
      position: absolute;
      bottom: 10px;
      left: 9px;

      a {
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }

    &--arrow {
      position: absolute;
      bottom: 10px;
      right: 11px;
    }
  }
}

.agree {
  &__card {
    padding: 24px 18px 24px 14px;
    background: $background-primary;
  }

  &__description {
    margin-right: 40px;
    line-height: 28px;
    letter-spacing: -0.4px;
  }

  &__btn {
    justify-content: end;
    width: 25px;
  }

  &__buttons {
    top: 17px;
    right: 20px;
    gap: 14px;
  }

  &__reaction {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    padding: 12px 47px 10px;

    border-radius: 100px;
    background: $background-ternary;
  }
}

.hot {
  &__title {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  &__list {
    display: flex;
    gap: 10px;
    overflow-y: auto;
    padding-bottom: 24px;

    -webkit-overflow-scrolling: touch;
    font-size: $font-size-xxs;
    color: $text-color-ternary;
  }

  &__card {
    flex-shrink: 0;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: $shadow-2;

    &:hover {
      box-shadow: $shadow-2-hover;
    }
  }
}

.education {
  &__logo {
    height: 33px;
    margin-bottom: 6px;
  }

  &__header {
    margin-bottom: 0;
  }

  &__description {
    font-size: $font-size-s;
    line-height: 20px;
    letter-spacing: -0.4px;
    margin-bottom: 11px;
  }

  &__list {
    display: flex;
    justify-content: start;
    gap: 10px;
    overflow-y: auto;

    -webkit-overflow-scrolling: touch;
    font-size: $font-size-xxxs;
    font-weight: $font-weight-semi;
    color: $text-color-secondary;

    @media (min-width: 640px) {
      justify-content: center;
    }
  }

  &__card {
    flex-shrink: 0;
    width: 157px;

    .card__info {
      padding: 18px 9px 13px 23px;
    }

    .card__button {
      display: inline-block;
      height: 13px;
      min-width: 36px;
      padding: 0 4px;
      margin-bottom: 6px;

      border-radius: 4px;
      background-color: $text-color-primary;
      color: $text-color-ternary;
      text-transform: uppercase;
      font-weight: $font-weight-bold;
      line-height: normal;
    }
  }
}
