.header {
  @extend %header;

  background-color: transparent;
}

.main {
  @extend %main;
}

.header,
.main {
  background-image: url('/images/bg_home.webp');
  background-repeat: no-repeat;
  background-size: 100% 239px;
}

.footer {
  @extend %footer;
}
