.header {
  @extend %header;

  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  @extend %main;
}

.header,
.main {
  background-image: url('/images/bg_spheri.webp');
  background-size: 100% 239px;
}

.footer {
  @extend %footer;
}
