<ul class="pagination">
  <li class="pagination__item">
    <input id="1" class="checkbox" type="radio" name="pagination" checked />
    <label for="1" class="stick">
      <span class="value">1</span>
    </label>
  </li>

  <li class="pagination__item">
    <input id="2" class="checkbox" type="radio" name="pagination" />
    <label for="2" class="stick">
      <span class="value">2</span>
    </label>
  </li>

  <li class="pagination__item">
    <input id="3" class="checkbox" type="radio" name="pagination" />
    <label for="3" class="stick">
      <span class="value">3</span>
    </label>
  </li>

  <li class="pagination__item">
    <input id="4" class="checkbox" type="radio" name="pagination" />
    <label for="4" class="stick">
      <span class="value">4</span>
    </label>
  </li>

  <li class="pagination__item">
    <input id="5" class="checkbox" type="radio" name="pagination" />
    <label for="5" class="stick">
      <span class="value">5</span>
    </label>
  </li>

  <li class="pagination__item">
    <input id="6" class="checkbox" type="radio" name="pagination" />
    <label for="6" class="stick">
      <span class="value">6</span>
    </label>
  </li>

  <li class="pagination__item">
    <input id="7" class="checkbox" type="radio" name="pagination" />
    <label for="7" class="stick">
      <span class="value">7</span>
    </label>
  </li>

  <li class="pagination__item">
    <input id="8" class="checkbox" type="radio" name="pagination" />
    <label for="8" class="stick">
      <span class="value">8</span>
    </label>
  </li>
</ul>
