.bootcamps {
  @extend %section;

  &__title {
    @extend %section__title;
  }

  &__list {
    @extend %section__content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-x: auto;

    @media (min-width: 830px) {
      flex-direction: row;
      justify-content: center;
    }

    .card {
      @extend %card;
      position: relative;

      background: lightgray 50%;
      box-shadow: $shadow-2;

      .title {
        position: absolute;
        top: 18px;
        left: 27px;
        color: $text-color-primary;
        font-size: $font-size-xxxs;
        font-weight: $font-weight-bold;
      }
    }
  }
}
