@import '../common/variables';
@import '../common/general';
@import '../common/elements';
@import '../common/placeholders';

.header {
  @extend %header;
}

.main {
  @extend %main;
}

.footer {
  @extend %footer;
}

.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: none;
  z-index: 9000;
  background: #000;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
  background: #ebebeb;
  border-radius: 14px;
  overflow: hidden;

  &__header {
    padding: 19px 15px 15px;
    text-align: center;
    font-weight: $font-weight-bold;
    color: $text-color-primary;

    .title {
      margin-bottom: 20px;

      font-size: 16px;
      line-height: 21px;
      letter-spacing: -0.4px;

      &--colored {
        padding-top: 9px;
        margin-bottom: 4px;

        background: linear-gradient(136deg, #e600ff 7.37%, #053ffa 103.85%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        &.colored {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 4px;

          &::before {
            content: '';
            display: block;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
          }

          &--candy {
            &::before {
              width: 45px;
              height: 45px;
              background-image: url(/images/candy.webp);
            }
          }
        }
      }
    }

    .coins {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;

      font-size: 30px;

      &::before {
        content: '';
        display: block;
        width: 26px;
        height: 26px;
        background-image: url(/images/coin.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }

    .confirmation {
      margin-bottom: 9px;

      font-size: 16px;
      line-height: 21px;
      letter-spacing: -0.4px;
    }

    .notification {
      font-size: 13px;
      font-weight: $font-weight-semi;
      line-height: 18px;
      letter-spacing: -0.4px;
    }
  }

  &__footer {
    .buttons {
      text-align: center;
      display: flex;
      flex-direction: column;
      padding-top: 0.333px;
      background-color: rgba(60, 60, 67, 0.36);
      gap: 0.333px;

      &--reversed-horizontal {
        flex-direction: row-reverse;
      }

      &__item {
        background: #ebebeb;
        width: 100%;
      }

      .btn {
        padding: 11px 0;
        width: 100%;

        font-size: 16px;
        font-weight: $font-weight-medium;
        color: $text-color-accent;
        line-height: 22px;
        letter-spacing: -0.4px;

        &--accent {
          font-size: 17px;
          font-weight: $font-weight-bold;
        }
      }
    }
  }
}
