@import '../common/variables';
@import '../common/general';
@import '../common/elements';

@import '../common/placeholders';

@import './home/header';
@import './home/footer';

.header {
  @extend %header;

  background-color: transparent;

  &__back {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: ($page-header-height - 22px) / 2;
    padding-right: 0;
  }
}

.main {
  @extend %main;

  display: flex;
  flex-direction: column;
  padding-top: $page-header-height + 43px;
  padding-bottom: 38px;
  .stats {
    position: absolute;
    top: 0;
    right: 50%;
    z-index: 999999;
    font-size: $font-size-l;
    line-height: 1;
    transform: translateX(50%);
    padding: (($page-header-height - $font-size-l) / 2) 0;

    &__bar {
      position: absolute;
      bottom: -4px;
      left: calc(50% - 100vw / 2);
      height: 4px;
      width: 100vw;
      background: rgba(0, 0, 0, 0.25);
    }

    &__bar-progress {
      height: 100%;
      border-radius: 2px;
      width: 0;
      min-width: 4px !important;
      background-color: $text-color-accent;
    }
  }

  .card {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 1500ms;
    transition: all 1500ms;

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding: 27px 20px 30px;
    backface-visibility: hidden;

    &--revers {
      box-shadow: 2px 10px 20px 0px rgba(0, 0, 0, 0.15);

      background: $background-primary;
      color: $text-color-primary;
      font-weight: $font-weight-semi;
      font-size: $font-size-m;
      line-height: 25px;
      transform: rotateY(180deg);
    }

    &--avers {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      background: linear-gradient(136deg, #e600ff 7.37%, #053ffa 103.85%);
      box-shadow: 0px 14px 24px 0px rgba(80, 65, 247, 0.3);

      font-size: 38px;
      line-height: 42px;
      color: $text-color-ternary;
      font-weight: $font-weight-bold;
    }

    &-wrapper {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      position: relative;
    }

    &-container {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      padding-bottom: 36px;

      position: relative;

      #side-switcher {
        display: none;
      }
    }

    &__header {
      font-size: $font-size-xs;
      line-height: 18px;
      margin-bottom: 5px;
      padding: 0 5px;
    }

    &__body {
      display: flex;
      align-items: center;
      flex-grow: 1;
      margin-bottom: 33px;
      padding: 0 5px;
    }

    &__footer {
      height: 32px;
      display: flex;
      gap: 14px;

      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        border-radius: 100px;
        border: 1px solid #bbc0d0;
        width: 100%;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 3px 4px;
      }
    }
  }

  .sticks {
    display: flex;
    justify-content: space-between;
    color: $text-color-ternary;
    font-size: $font-size-m;
    font-weight: $font-weight-semi;

    &__lost {
      display: flex;
      align-items: center;
      gap: 10px;
      background-color: #b9bdc7;
      border-radius: 0px 100px 100px 0px;
      padding: 6px 20px 6px 37px;
    }

    &__achived {
      display: flex;
      align-items: center;
      gap: 10px;
      border-radius: 100px 0px 0px 100px;
      background: #1bc300;
      padding: 6px 37px 6px 20px;
    }
  }
}

.header,
.main {
  background-image: url('/images/bg_flashcard.webp');
  background-size: 100% 297px;
}

.footer {
  @extend %footer;
}

#side-switcher:checked + .card-wrapper > .card--avers {
  transform: rotateY(180deg);
}

#side-switcher:checked + .card-wrapper > .card--revers {
  transform: rotateY(0);
}
