@import '../common/variables';
@import '../common/general';
@import '../common/elements';

@import '../common/placeholders';
@import '../utils/is-hidden';
@import './spheri/page';

@import './home/footer';

.icon {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  vertical-align: middle;
}

.options {
  display: inline-flex;
  gap: 16px;

  input {
    @extend %is-hidden;
  }

  input:checked + svg {
    opacity: 0.4;
  }
}

.title {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  z-index: 999999;

  margin: 0;
  padding: (($page-header-height - $font-size-l) / 2) 0;

  font-size: $font-size-l;
  line-height: 1;
  font-weight: $font-weight-bold;
}

.image {
  margin: 0 auto;
}

.issues {
  @extend %section;

  &__title {
    @extend %section__title;
  }

  &__list-wrapper {
    flex-direction: column;
    gap: 10px;
    display: flex;
    padding: 17px 0;

    li {
      overflow-x: auto;
      flex-shrink: 0;
    }
  }
  &__list {
    display: flex;
    gap: 10px;

    &--top {
      .item {
        background: rgba(233, 233, 241, 0.5);
      }
    }
    &--middle {
      .item {
        background: rgba(195, 195, 206, 0.5);
      }
    }
    &--bottom {
      .item {
        background: rgba(166, 166, 181, 0.5);
      }
    }

    .item {
      width: 154px;
      height: 88px;
      padding: 12px 14px 7px 13px;

      border-radius: 10px;

      backdrop-filter: blur(25px);
      font-size: 13px;
      font-weight: 600;
      line-height: 17px;
      letter-spacing: -0.4px;
    }
  }

  .text {
    color: #848998;
    font-size: 11px;
    font-weight: $font-weight-semi;
    line-height: 13px;
    text-align: center;
    max-width: 350px;
  }
}

.message {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #484d5c;
  position: sticky;
  bottom: $page-footer-height;
  background-color: $background-primary;

  .textfield {
    display: flex;
    align-items: center;
    flex: 1;
    border-radius: 100px;
    background: rgba(220, 220, 233, 0.6);
    padding: 6px 37px 6px 11px;

    textarea {
      border: none;
      outline: none;
      background-color: transparent;

      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: -0.4px;

      &::placeholder {
        color: #484d5c;
      }
    }
  }

  button {
    color: #484d5c;
  }

  .record {
    position: absolute;
    right: 20px + 8px; //container padding + inner padding
  }
}
.dialog {
  padding-top: 68px;
  &__item {
    margin-bottom: 17px;
  }
}

.post {
  color: #484d5c;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.4px;
  display: flex;
  gap: 6px;

  .avatar {
    border-radius: 29px;
    float: left;
  }

  .name {
    padding-top: 3px;

    overflow: hidden;
    color: #000;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
  }

  .list {
    padding: 1em 0;
    counter-reset: list-counter;

    &__item {
      counter-increment: list-counter;
      display: flex;

      &::before {
        content: counter(list-counter) '. ';
        padding: 0 7px;
        color: #000;
        font-size: 15px;
        font-weight: 700;
        line-height: 20px;
      }
    }

    .item {
      &__title {
        color: #000;
        font-size: 15px;
        font-weight: 700;
        line-height: 20px;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    &__btn {
      color: #484d5c;
    }

    .controls {
      display: flex;
      gap: 18px;

      &__btn {
        color: #484d5c;
      }
    }
  }
}
