.articles {
  @extend %section;

  &__title {
    @extend %section__title;
  }

  &__link {
    @extend %section__title-link;
  }

  &__content {
    @extend %section__content;
  }

  .filter {
    display: flex;
    gap: 8px;
    justify-content: start;
    overflow-y: auto;
    font-size: 12px;
    color: $text-color-accent;

    @media (min-width: 640px) {
      justify-content: center;
    }

    .button {
      &__content {
        display: inline-flex;
        gap: 4px;
        align-items: center;
        white-space: nowrap;
        line-height: 30px;
        border-radius: 100px;
        border: 1.5px solid $text-color-accent;
        padding: 0 10px;
      }

      &__checkbox:checked + .button__content {
        color: $text-color-ternary;
        background-color: $text-color-accent;
      }

      &__checkbox {
        display: none;
      }
    }
  }
}

.slider {
  display: flex;
  flex-direction: column;

  column-gap: 20px; // equal .container horizontal padding

  height: 3 * (81px + 2 * 10px) + 2 * 1px; //slides quantity * ( slide image height + 2 * slide vertical padding) + 2 sliders border
  flex-wrap: wrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory; // disable interim slider position
  width: 100%;
  max-width: 600px;
}

.slide {
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 10px 0;
  background-color: #fff;
  border-bottom: 1px solid #d7d7d7;
  box-sizing: border-box;
  cursor: grab;
  user-select: none;

  &:active {
    cursor: grabbing;
  }

  &:nth-of-type(3n) {
    border-bottom: none;
    scroll-snap-align: center; // disable interim slider position
  }

  &__card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    flex-basis: 141px;

    button {
      position: absolute;
      top: 9px;
      right: 8px;
      fill: $text-color-ternary;
    }
  }

  &__text {
    padding-top: 6px;
    flex-basis: 197px;
  }
}
