.books {
  @extend %section;

  &__title {
    @extend %section__title;
  }

  &__link {
    @extend %section__title-link;
  }

  &__list {
    @extend %section__content;

    display: flex;
    justify-content: start;
    overflow-x: auto;

    @media (min-width: 540px) {
      justify-content: center;
    }
  }

  &__item {
    position: relative;
    fill: $text-color-ternary;

    button {
      position: absolute;
      top: 11px;
      right: 21px;
    }
  }
}
