.header {
  .navigation {
    display: flex;
    gap: 12px;

    &__coin,
    &__notifications,
    &__bookmarks,
    &__menu,
    &__coin a,
    &__notifications a,
    &__bookmarks a,
    &__menu a {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__coin {
      span {
        min-width: 40px;
      }
    }

    &__coin a {
      gap: 4px;
    }

    &__notifications a,
    &__bookmarks a,
    &__menu a {
      width: 25px;
      height: 24px;
    }
  }
}
