@import '../../common/variables.scss';
@import '../../common/reset.scss';

@import '../home/header.scss';

html {
  font-family: $font-family-primary;
  font-weight: $font-weight-bold;
  color: $text-color-primary;
  font-size: $font-size-m;
  line-height: $line-height-m;
}

body {
  background-image: url('/images/bg_home.webp');
  background-repeat: no-repeat;
  background-size: 100% 239px;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  overflow: hidden;
}
