.section {
  &:first-child {
    margin-top: 9px;
  }

  &:not(:last-child) {
    margin-bottom: 22px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 13px;
  }

  &__title {
    font-size: $font-size-xl;
  }

  &__link {
    font-size: $font-size-xs;
    color: $text-color-accent;
  }
}

.user {
  display: inline-flex;
  align-items: center;
  gap: 7px;

  &__photo {
    border-radius: 50%;
    overflow: hidden;
  }

  &__name {
    font-size: $font-size-l;
    margin: 0;
  }

  &__position {
    font-size: $font-size-xxxs;
    opacity: $opacity-m;
    font-weight: $font-weight-medium;
  }
}

.coins {
  padding-bottom: 12px;

  &__more {
    font-size: $font-size-xs;
    color: $text-color-accent;
  }

  &__balance {
    display: flex;
    align-items: center;
    gap: 8px;

    padding-bottom: 11px;
    border-bottom: 1px solid $border-color-primary;
    margin-bottom: 9px;
  }

  &__value {
    font-size: $font-size-xxl;
  }

  &__description {
    font-size: $font-size-xxs;
    font-weight: $font-weight-semi;
    color: $text-color-secondary;
  }
}

.guide {
  &__card {
    display: flex;
    gap: 8px;
    min-height: 200px;
    overflow: hidden;

    border-radius: 30px;

    background-repeat: no-repeat;
    background-size: 105% 100%;
    background-position: center;
    background-image: url('/images/card_guide.png');
    background-color: $background-secondary;

    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.1);
  }

  &__img {
    align-self: flex-end;
  }

  &__descr {
    padding: 18px 20px 20px 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  &__buttons path {
    fill: $text-color-secondary;
    color: $text-color-secondary;
  }

  &__title {
    font-size: $font-size-xl;
  }

  &__text {
    font-size: $font-size-xxs;
    font-weight: $font-weight-semi;
    color: $text-color-secondary;
  }
}
