*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  display: block;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}

.scrollbar-no::-webkit-scrollbar {
  background-color: transparent;
  width: 0;
  height: 0;
}
.scrollbar-no::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.scrollbar-no::-webkit-scrollbar-track {
  background-color: transparent;
}

html {
  color: #000;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  background-color: #fff;
}

html,
body {
  height: 100%;
}

.bar {
  height: 54px;
  background-image: url("/images/bg_home.webp");
  background-repeat: no-repeat;
  background-size: 100% 239px;
  background-blend-mode: hard-light;
  backdrop-filter: blur(25px);
}

.header {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 37px;
  background-image: url("/images/bg_home.webp");
  background-repeat: no-repeat;
  background-size: 100% 239px;
  background-position-y: -54px;
  background-blend-mode: hard-light;
  backdrop-filter: blur(25px);
}

.wrapper {
  max-height: 100%;
  overflow: auto;
}

.main {
  min-height: calc(100% - 37px - 54px);
  background-image: url("/images/bg_home.webp");
  background-repeat: no-repeat;
  background-size: 100% 239px;
  margin-top: 37px;
  padding: 12px 0 54px;
  background-position-y: -91px;
}

.footer {
  position: fixed;
  z-index: 999999;
  bottom: 0;
  left: 0;
  height: 54px;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  padding-top: 7px;
}

.header .navigation {
  display: flex;
  gap: 12px;
}
.header .navigation__coin, .header .navigation__notifications, .header .navigation__bookmarks, .header .navigation__menu, .header .navigation__coin a, .header .navigation__notifications a, .header .navigation__bookmarks a, .header .navigation__menu a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .navigation__coin span {
  min-width: 40px;
}
.header .navigation__coin a {
  gap: 4px;
}
.header .navigation__notifications a, .header .navigation__bookmarks a, .header .navigation__menu a {
  width: 25px;
  height: 24px;
}

.section:first-child {
  margin-top: 9px;
}
.section:not(:last-child) {
  margin-bottom: 22px;
}
.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 13px;
}
.section__title {
  font-size: 22px;
}
.section__link {
  font-size: 14px;
  color: #0050ff;
}

.card {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
  border-radius: 30px;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.1);
}
.card__title {
  font-size: 22px;
}
.card__btn {
  display: flex;
  height: 24px;
}
.card__buttons {
  position: absolute;
  top: 21px;
  right: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  justify-content: space-around;
}

.user {
  display: inline-flex;
  align-items: center;
  gap: 7px;
}
.user__photo {
  border-radius: 50%;
  overflow: hidden;
}
.user__name {
  font-size: 17px;
  margin: 0;
}
.user__position {
  font-size: 10px;
  opacity: 0.6;
  font-weight: 500;
}

.coins {
  padding-bottom: 12px;
}
.coins__more {
  font-size: 14px;
  color: #0050ff;
}
.coins__balance {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 11px;
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 9px;
}
.coins__value {
  font-size: 50px;
}
.coins__description {
  font-size: 13px;
  font-weight: 600;
  color: #484d5c;
}

.guide__card {
  display: flex;
  gap: 8px;
  min-height: 200px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 105% 100%;
  background-position: center;
  background-image: url("/images/card_guide.png");
  background-color: rgba(255, 255, 255, 0.7);
}
.guide__img {
  align-self: flex-end;
}
.guide__descr {
  padding: 18px 22px 20px 0;
}
.guide__header {
  padding-right: 18px;
  margin-bottom: 9px;
  min-height: 2em;
}
.guide__text {
  font-size: 13px;
  font-weight: 600;
  color: #484d5c;
}
.guide__btn {
  justify-content: center;
  width: 20px;
}
.guide__buttons {
  fill: #484d5c;
}

.reels__list {
  display: flex;
  gap: 10px;
  justify-content: start;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  font-size: 13px;
  color: #fff;
  padding-bottom: 24px;
}
@media (min-width: 830px) {
  .reels__list {
    justify-content: center;
  }
}
.reels__card {
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.1), 0px 0px 24px 0px rgba(0, 0, 0, 0.05) inset;
}
.reels__card:hover {
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.3), 0px 0px 24px 0px rgba(0, 0, 0, 0.1) inset;
}
.reels__card svg {
  fill: #fff;
}
.reels__button--bookmark {
  position: absolute;
  top: 12px;
  right: 11px;
}
.reels__button--up {
  position: absolute;
  bottom: 10px;
  left: 9px;
}
.reels__button--up a {
  display: flex;
  align-items: center;
  gap: 4px;
}
.reels__button--arrow {
  position: absolute;
  bottom: 10px;
  right: 11px;
}

.agree__card {
  padding: 24px 18px 24px 14px;
  background: #fff;
}
.agree__description {
  margin-right: 40px;
  line-height: 28px;
  letter-spacing: -0.4px;
}
.agree__btn {
  justify-content: end;
  width: 25px;
}
.agree__buttons {
  top: 17px;
  right: 20px;
  gap: 14px;
}
.agree__reaction {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  padding: 12px 47px 10px;
  border-radius: 100px;
  background: #f8f3f3;
}

.hot__title {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.hot__list {
  display: flex;
  gap: 10px;
  overflow-y: auto;
  padding-bottom: 24px;
  -webkit-overflow-scrolling: touch;
  font-size: 13px;
  color: #fff;
}
.hot__card {
  flex-shrink: 0;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.1), 0px 0px 24px 0px rgba(0, 0, 0, 0.05) inset;
}
.hot__card:hover {
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.3), 0px 0px 24px 0px rgba(0, 0, 0, 0.1) inset;
}

.education__logo {
  height: 33px;
  margin-bottom: 6px;
}
.education__header {
  margin-bottom: 0;
}
.education__description {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.4px;
  margin-bottom: 11px;
}
.education__list {
  display: flex;
  justify-content: start;
  gap: 10px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  font-size: 10px;
  font-weight: 600;
  color: #484d5c;
}
@media (min-width: 640px) {
  .education__list {
    justify-content: center;
  }
}
.education__card {
  flex-shrink: 0;
  width: 157px;
}
.education__card .card__info {
  padding: 18px 9px 13px 23px;
}
.education__card .card__button {
  display: inline-block;
  height: 13px;
  min-width: 36px;
  padding: 0 4px;
  margin-bottom: 6px;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  line-height: normal;
}

.footer__nav {
  display: flex;
  justify-content: center;
  gap: 17px;
  font-size: 10px;
  margin: 0 auto;
  padding: 0 15px;
}
.footer__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 48px;
  color: #484d5c;
}
.footer__link svg {
  fill: #484d5c;
}
.footer__link:active, .footer__link:hover, .footer__link:focus, .footer__link--active {
  color: #0050ff;
}
.footer__link:active svg, .footer__link:hover svg, .footer__link:focus svg, .footer__link--active svg {
  fill: #0050ff;
}/*# sourceMappingURL=home.css.map */