$mobile-bar-height: 54px;
$page-header-height: 37px;
$page-footer-height: 54px;

$max-width-card-element: 480px;

$text-color-primary: #000;
$text-color-secondary: #484d5c;
$text-color-ternary: #fff;

$text-color-accent: #0050ff;

$background-primary: #fff;
$background-secondary: rgba(255, 255, 255, 0.7);
$background-ternary: #f8f3f3;

$border-color-primary: #d7d7d7;
$font-family-primary: 'Quicksand', sans-serif;
$font-size-xxxs: 10px;
$font-size-xxs: 13px;
$font-size-xs: 14px;
$font-size-s: 15px;
$font-size-m: 16px;
$font-size-l: 17px;
$font-size-xl: 22px;
$font-size-xxl: 50px;
$line-height-m: 1.25;
$font-weight-medium: 500;
$font-weight-semi: 600;
$font-weight-bold: 700;

$opacity-m: 0.6;

$shadow-1: 0px 4px 24px 0px rgba(0, 0, 0, 0.1);
$shadow-2: 0px 8px 24px 0px rgba(0, 0, 0, 0.1),
  0px 0px 24px 0px rgba(0, 0, 0, 0.05) inset;
$shadow-2-hover: 0px 8px 24px 0px rgba(0, 0, 0, 0.3),
  0px 0px 24px 0px rgba(0, 0, 0, 0.1) inset;
